/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

.opacity-12 {
    opacity: 1 !important;
}
.max-w-36 {
    max-width: 13rem !important;
}
.mat-tab-group {
    font-family: "Helvetica Neue" !important;
}
body {
    font-family: "Helvetica Neue" !important;
    line-height: inherit;
}

.mat-tab-label, .mat-tab-link {
    font-family: "Helvetica Neue" !important;
    font-size: 0.875rem;
    font-weight: 500;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Helvetica Neue" !important;
    font-size: 0.875rem;
    font-weight: 500;
}

.pl-2 {
    padding-left: 0.5rem !important;
    padding-top: 50px !important;
    padding-bottom: 10px !important;
}
.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 9px;
    min-width: 60rem !important;
    
}

.min-w-80 {
    min-width: 100% !important;
}
table tr:nth-child(odd) td{
    background:#fff;
}
table tr:nth-child(even) td{
     background:rgba(232, 232, 232, 0.694);
}
table td {padding:10px;}

table {
    counter-reset: rowNumber;
  }
  
  .bg-gray-800 {
    background-color: #1b4f9c !important;
  }

  body {--fuse-primary-400: #51ad32 !important;
    --fuse-primary-400-rgb: 81, 173, 50 !important;
    --fuse-primary-500: #51ad32 !important;
    --fuse-primary-500-rgb: 81, 173, 50 !important;
    --fuse-primary-600: #51ad32 !important;
    --fuse-primary-600-rgb: 81, 173, 50 !important;
    --fuse-primary-700: #51ad32 !important;
    --fuse-primary-700-rgb: 81, 173, 50 !important;
    --fuse-primary-800: #51ad32 !important;
    --fuse-primary-800-rgb: 81, 173, 50 !important;
    --fuse-primary-900: #51ad32 !important;
    --fuse-primary-900-rgb: 81, 173, 50 !important;
    --fuse-primary: #51ad32 !important;
    --fuse-primary-rgb: 81, 173, 50 !important;
    --fuse-on-primary-50: #51ad32 !important;
    --fuse-on-primary-50-rgb: 81, 173, 50 !important;
    --fuse-on-primary-100: #51ad32 !important;
    --fuse-on-primary-100-rgb: 81, 173, 50 !important;
    --fuse-on-primary-200: #51ad32 !important;
    --fuse-on-primary-200-rgb: 81, 173, 50 !important;
    --fuse-on-primary-300: #51ad32 !important;
    --fuse-on-primary-300-rgb: 81, 173, 50 !important;
    --fuse-on-primary-400: #51ad32 !important;}
   
   
.ring-gray-800 {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: #51ad32 !important ;
}

.w-16 {
    width: 4rem !important;
    height: 4rem !important;
}
.table {
    display: table !important;
    margin: 0 auto;
    width: 100%;
    
}
.my-12 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}