/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

.opacity-12 {
    opacity: 1 !important;
}
.max-w-36 {
    max-width: 13rem !important;
}
.mat-tab-group {
    font-family: "Helvetica Neue" !important;
}
body {
    font-family: "Helvetica Neue" !important;
    line-height: inherit;
}

.mat-tab-label, .mat-tab-link {
    font-family: "Helvetica Neue" !important;
    font-size: 0.875rem;
    font-weight: 500;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: "Helvetica Neue" !important;
    font-size: 0.875rem;
    font-weight: 500;
}

.pl-2 {
    padding-left: 0.5rem !important;
    padding-top: 50px !important;
    padding-bottom: 10px !important;
}
.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 9px;
    min-width: 700px !important;

}

.min-w-80 {
    min-width: 100% !important;
}

.min-w-160{
    min-width: 500px !important;
}
table tr:nth-child(odd) td{
    background:#fff;
}
table tr:nth-child(even) td{
     background:rgba(232, 232, 232, 0.694);
}
table td {padding:10px;}

table {
    counter-reset: rowNumber;
  }

  .bg-gray-800 {
    background-color: #1b4f9c !important;
  }

  body {--fuse-primary-400: #51ad32 !important;
    --fuse-primary-400-rgb: 81, 173, 50 !important;
    --fuse-primary-500: #51ad32 !important;
    --fuse-primary-500-rgb: 81, 173, 50 !important;
    --fuse-primary-600: #51ad32 !important;
    --fuse-primary-600-rgb: 81, 173, 50 !important;
    --fuse-primary-700: #51ad32 !important;
    --fuse-primary-700-rgb: 81, 173, 50 !important;
    --fuse-primary-800: #51ad32 !important;
    --fuse-primary-800-rgb: 81, 173, 50 !important;
    --fuse-primary-900: #51ad32 !important;
    --fuse-primary-900-rgb: 81, 173, 50 !important;
    --fuse-primary: #51ad32 !important;
    --fuse-primary-rgb: 81, 173, 50 !important;
    --fuse-on-primary-50: #51ad32 !important;
    --fuse-on-primary-50-rgb: 81, 173, 50 !important;
    --fuse-on-primary-100: #51ad32 !important;
    --fuse-on-primary-100-rgb: 81, 173, 50 !important;
    --fuse-on-primary-200: #51ad32 !important;
    --fuse-on-primary-200-rgb: 81, 173, 50 !important;
    --fuse-on-primary-300: #51ad32 !important;
    --fuse-on-primary-300-rgb: 81, 173, 50 !important;
    --fuse-on-primary-400: #51ad32 !important;}


.ring-gray-800 {
    --tw-ring-opacity: 1 !important;
    --tw-ring-color: #51ad32 !important ;
}

.w-16 {
    width: 4rem !important;
    height: 4rem !important;
}
.table {
    display: table !important;
    margin: 0 auto;
    width: 100%;

}
.my-12 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.truncate {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important; }

    .feedback{
        width: 100%;
        max-width: 780px;
        background: #fff;
        margin: 0 auto;
        padding: 15px;
        box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
    }

    .survey-hr{
        margin:10px 0;
        border: .5px solid #ddd;
      }

      .feedback form input,
.feedback form textarea{
    width: 100%;
    border: 1px solid #ddd;
}

.star-rating {
    margin: 25px 0 0px;
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background-color: red;
   background-size: contain;
 }

 star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background-color:lime;
    background-size: contain;
  }

  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }




  @import url(fa.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: limegreen;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: lime;  }
