<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/logo/giavatar.png"
                        />
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                Hi {{contact[0]?.Name}}!
                            </div>
                            <div
                                class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                {{ username }}
                            </div>
                            <div
                                class="text-2xl md:text-3xl font-semibold tracking-tight leading-7 md:leading-snug truncate"
                            >
                                <button
                                    style="width: 170px !important"
                                    class="fuse-mat-button-rounded bg-accent-700"
                                    mat-raised-button
                                    [color]="'accent'"
                                    (click)="reloadCurrentPage()"
                                >
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="
                                            'heroicons_solid:information-circle'
                                        "
                                    ></mat-icon>
                                    <span class="ml-2">Fetch Lastest Data</span>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!-- Project selector -->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
           

            <!-- Tabs -->
            <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" class="sm:px-2" [selectedIndex]="selectedIndex">
                
                <!-- Home -->
                
                <mat-tab label="My Devices" id="devices">
                    
                        
                     <ng-template matTabContent> {{getTimeLoaded(1) | date:'medium'}}
                        
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                            <!-- Summary -->
                            <div
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        My Devices
                                    </div>
                                    
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500" (click)='moveToSelectedTab("My Devices")' onMouseOver="this.style.cursor='pointer'">
                                        {{ productCount }}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-amber-600 dark:text-primary-500"
                                    ></div>
                                </div>
                            </div>
                            <!-- Cases -->
                            <div
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        My Tech Support Tickets
                                    </div>
                                    
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500" (click)='moveToSelectedTab("My Support Tickets")' onMouseOver="this.style.cursor='pointer'"
                                    >
                                     {{ casesCount }} 
                                    
                                 
                                    </div>
                                    <div
                                        class="text-lg font-medium text-secondary-600 dark:text-secondary-500"
                                    ></div>
                                </div>
                            </div>
                            <!-- Customer ID -->
                            <div
                                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        My Customer ID
                                    </div>
                                    
                                </div>
                                <div class="flex flex-col items-center mt-2">
                                    <div
                                        class="text-2xl sm:text-3xl font-bold tracking-tight leading-none text-green-500" (click)='moveToSelectedTab("My Contact Information")' onMouseOver="this.style.cursor='pointer'"
                                    >
                                        {{contact[0].Id}}
                                       
                                    </div>
                                    <div
                                        class="text-lg font-medium text-amber-600 dark:text-amber-500"
                                    ></div>
                                </div>
                            </div>
                            <!-- Features -->

                            <!-- Products list -->
                            
                            <div
                                class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                            >
                                <div class="text-lg font-medium tracking-tight leading-6 truncate" id ="devices">
                                    Your Devices
                                </div>
                                <div
                                    class="flex flex-col flex-auto mt-2 overflow-x-auto"
                                >
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <td>Equipment Name</td>
                                                <td>Device Details</td>
                                                <td>Preinstall Survey</td>
                                                <td>View Documents</td>
                                                <td>Support Ticket</td>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let product of products"
                                            >
                                                <td style="font-weight: bolder">
                                                    {{ product.Equipment_Name }}
                                                </td>
                                                <td>
                                                    <button mat-raised-button
                                                        (click)="
                                                            openProductDetailsDialog(
                                                                product
                                                            )
                                                        "
                                                        mat-icon-button
                                                    >
                                                        <mat-icon
                                                            [svgIcon]="
                                                                'heroicons_outline:information-circle'
                                                            "
                                                        ></mat-icon>
                                                    </button>
                                                </td>
                                                <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdbclzlPjp3zW8NNNHRIndX-L2MwQX2tJIN_n11mgTMb7ZjRg/viewform" target="_blank">
                                                    <button mat-raised-button tabindex="-1" type="button"  (click)='moveToSelectedTab("Preinstall Survey")'
                                                        mat-icon-button
                                                    >
                                                        <mat-icon
                                                            [svgIcon]="
                                                                'heroicons_outline:question-mark-circle'
                                                            "
                                                        ></mat-icon>
                                                    </button></a>
                                                </td>
                                                <td>
                                                    <button
                                                        mat-raised-button
                                                        (click)="
                                                            openDocumentsDialog(
                                                                product
                                                            )
                                                        "
                                                        mat-icon-button
                                                    >
                                                        <mat-icon
                                                            [svgIcon]="
                                                                'heroicons_outline:document-text'
                                                            "
                                                        ></mat-icon>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button
                                                        id="{{ product.Id }}"
                                                        class="fuse-mat-button-rounded bg-accent-700"
                                                        mat-raised-button
                                                        [color]="'accent'"
                                                        (click)="
                                                            openCreateCaseDialog(
                                                                product
                                                            )
                                                        "
                                                    >
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="
                                                                'heroicons_outline:ticket'
                                                            "
                                                        ></mat-icon>
                                                        <span class="ml-2">
                                                            Create Ticket For This Unit</span
                                                        >
                                                    </button>
                                                </td>
                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                
                
                <!-- Cases -->
                <mat-tab label="My Support Tickets" id="tickets">
                    
                    <ng-template matTabContent>
                        
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            <ng-container>
                                <!-- Active Support Tickets -->
                                <div
                                    class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                >
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Active Support Tickets
                                    </div>

                                    <div
                                        class="flex flex-col flex-auto mt-2 overflow-x-auto"
                                    >
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <td>Case Number</td>
                                                    <td>Subject</td>
                                                    <td>Handler</td>
                                                    <td>Status</td>
                                                    <td>More Details</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let case of cases">
                                                    <td
                                                        style="
                                                            font-weight: bolder;
                                                        "
                                                    >
                                                        {{ case.CaseNumber }}
                                                    </td>
                                                    <td>{{ case.Subject }}</td>
                                                    <td>
                                                        {{
                                                            case.Relevant_Handler__c
                                                        }}
                                                    </td>
                                                    <td>{{ case.Status }}</td>
                                                    <td>
                                                        <button
                                                        mat-raised-button
                                                            (click)="
                                                                openCaseDetailsDialog(
                                                                    case
                                                                )
                                                            "
                                                            mat-icon-button
                                                        >
                                                            <mat-icon
                                                                [svgIcon]="
                                                                    'heroicons_outline:eye'
                                                                "
                                                            ></mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                            
                        </div>
                    </ng-template>
                </mat-tab>

                

                <!-- Tech Support -->
                <mat-tab label="Schedule Tech Support" id="techsupport">
                    <ng-template matTabContent>
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            <ng-container>
                                <!-- TS Schedule Now -->
                                <div
                                    class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                >
                                    <div
                                        class="text-lg font-medium tracking-tight leading-6 truncate"
                                    >
                                        Schedule A Tech Support Call
                                    </div>

                                    <div
                                        class="flex flex-col flex-auto mt-2 overflow-x-auto"
                                    >
                                        <iframe
                                            src="https://calendly.com/globalimagingsupport/techsupport"
                                            width="100%"
                                            height="1152"
                                            frameborder="0"
                                            marginheight="0"
                                            marginwidth="0"
                                            >Loading…</iframe
                                        >
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Contact Information -->
                <mat-tab label="My Contact Information" id="contactinfo">
                    <ng-template matTabContent id="contacts">
                        <div
                            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0"
                        >
                            <ng-container>
                                <!-- Contact list -->
                                <div
                                    class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
                                >
                                    <div
                                        class="flex flex-col flex-auto mt-2 overflow-x-auto"
                                    >
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>
                                                        {{ contact[0].Name }}
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>
                                                        {{ contact[0].Email }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">
                                                        Street Address
                                                    </td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0]
                                                                .MailingStreet
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">City</td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0].MailingCity
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">State</td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0].MailingState
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">
                                                        Postal Code
                                                    </td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0].MailingPostalCode
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">
                                                        Country
                                                    </td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0].MailingCountry
                                                        }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">
                                                        Office Phone
                                                    </td>
                                                    <td class="td-p">
                                                        {{ contact[0].Phone }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="td-p">
                                                        Mobile Phone
                                                    </td>
                                                    <td class="td-p">
                                                        {{
                                                            contact[0].MobilePhone
                                                        }}
                                                    </td>
                                                </tr>

                                                <tr *ngFor="let contact of contact
                                                    "
                                                >
                                                    <td
                                                        style="
                                                            font-weight: bolder;
                                                        "
                                                    ></td>
                                                    <td>
                                                        <button style="width: auto !important;"
                                                            class="fuse-mat-button-rounded bg-accent-700"
                                                            mat-raised-button
                                                            [color]="'accent'"
                                                            (click)="openUpdateContactDialog()">
                                                            <mat-icon
                                                                class="icon-size-5"
                                                                [svgIcon]=" 'heroicons_solid:pencil' "
                                                            ></mat-icon>
                                                            <span class="ml-2">Modify Contact Details</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
           
            
        </div>
    </div>
</div>
<!-- <div class="flex flex-col flex-auto min-w-0" *ngIf="isLoading">
    <div>Loading please wait</div>
</div> -->


