<style>
    .td-p {
padding: 1rem;
font-weight: bolder;
    }
</style>


<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Attachment Details - {{contentversion.Title}}</div>
        <!--button
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button -->
    </div>

    <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
        <table
            class="table table-striped">
            <tbody>

                    <tr>
                        <td class="td-p">Name:</td>
                        <td class="td-p">{{contentversion.Title}}</td>
                    </tr>
                    <tr>
                        <td class="td-p">Date Modified:</td>
                        <td class="td-p">{{contentversion.ContentModifiedDate}}</td>
                    </tr>
                    <tr>
                        <td class="td-p">File Size:</td>
                        <td class="td-p">{{contentversion.ContentSize}}bytes</td>
                    </tr>
                    
                    <tr>
                        <td class="td-p">File Type:</td>
                        <td class="td-p">{{contentversion.FileExtension}}</td>
                    </tr>

            </tbody>
        </table>
    </div>

   


</div>
