<div class="flex flex-col flex-auto w-80 min-w-80 p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">Create Case</div>
        <button
            matDialogClose
            (click)="saveAndClose()"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <form  [formGroup]="formCase" (ngSubmit) = "onSubmit(formCase.value)" class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">

            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pl-3">
                <mat-label>Subject</mat-label>
                <textarea matInput formControlName = "Subject"></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

            <mat-form-field
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pl-3">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName = "Description"></textarea>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </mat-form-field>

            <div class="flex items-center mt-4 sm:mt-0">
                <button
                type="submit"
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'">
                    Submit Case
                </button>
            </div>
        </div>
    </form>
</div>

